<!DOCTYPE html>
<html lang="en">
​
<head>
  <meta charset="utf-8">
  <title>Austin Map</title>
  
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
  <!-- scripts and links for leaflet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.Default.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/leaflet.markercluster.js"></script>
</head>

​
 
​
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
​
<body>
  <!-- The div where we'll insert our map -->
  <div id="map"></div>
​
  <!-- JavaScript file -->
  <script type="text/javascript" src="/static/js/map_script.js"></script>
</body>
​
</html>