<!DOCTYPE html>
<html lang="en">
<head>
  <title>Seattle Housing Analysis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- script type ="text/javascript" src="https://cdn.leafletjs.com/leaflet-1.7.1/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
   integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
   integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
   crossorigin=""></script>

     <!-- start KRP Include  chart.js, double_line js file -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <!-- end KRP Include  chart.js, double_line js file -->
  
  <style>

.mb-4, .my-4 {
margin-top: 50px;
margin-bottom: 1.5rem !important;
color: #fff;
}

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 800px}
    
    /* Set white background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #fff;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #D3D3D3;
      color: gray;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 600px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

      /* Footer styles */
    .footer-custom {
    background-color: #222; /* Dark background color */
    color: #ccc; /* Light text color */
    padding: 15px;
    }

    /* Custom CSS to adjust logo color */
    .logo-icon {
      filter: brightness(100%); /* Adjust the value to control brightness */
      transition: filter 0.3s ease-in-out; /* Add smooth transition effect */
    }

    /* Apply a lighter shade of gray to the icons on hover */
    .logo-icon:hover {
      filter: brightness(50%);
    }

    .btn.btn-inverse:hover {
      background-color: #444; /* Darker background color on hover */
      color: #fff; /* White text on hover */
      border-color: #444; /* Darker border color on hover */
    }
  </style>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href=   "#"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
            <li><a href="{{ url_for('seattle_data') }}" class="btn btn-secondary bt-lg active">Seattle Sales Data</a></li> 
              <li><a href="{{ url_for('monthly_seattle_sales') }}" class="btn btn-secondary bt-lg active">Seattle Monthly Data</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
<div class="bg-image col-lg-12 jumbotron text-center"
      style="
        background-image: url('../static/images/seattle.jpg');background-repeat: no-repeat;
        padding:50px;height: 400px;
        background-size:cover;">

        <h1 class="mb-4 h1"> Seattle Washington Housing Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
        </div>



<div class="container-fluid text-center">    
  <div class="row content">
      <div class="col-sm-2 sidenav">
      </div>
    <div class="row justify-content-center">
    
      <div class="col-sm-8 text-left"> 
        <h1>Project Background</h1>
        <p>Welcome to the Seattle Washington Housing Market Analysis project, where we dive deep into the real estate dynamics of one of the Pacific Northwest's most exciting cities. This repository is dedicated to an in-depth exploration of the housing market trends spanning the years 2018 to 2022 in the bustling urban landscape of Seattle. Powered by the combined prowess of PostgreSQL and a Python Flask application, our project presents an interactive dashboard that offers an insightful overview of the housing market's evolution during this significant timeframe.</p>

        <p> We completed a comprehensive analysis and a visualization dashboard using a Python Flask-powered API, HTML/CSS, JavaScript, and a SQL database plotly, leaflet, D3 and charts.js. This project seeks to provide valuable insights in understanding Seattle's real estate dynamics.</p>
                  
        <p>In addition to dissecting historical trends, we've developed a cutting-edge machine learning model aimed at forecasting housing prices in the Seattle area. Leveraging the power of Random Forest and Linear Regression algorithms, we've trained a robust predictive model that takes into account a multitude of factors affecting housing prices. By incorporating data on property attributes, location details, economic indicators, and more, our model serves as a powerful tool for prospective buyers, sellers, and investors looking to make informed decisions in the complex Seattle real estate landscape.</p>
        <hr>
        <h3>Seattle Market - 10,000 FT View</h3>
        <p>The charts below proivde a glance at the past five years of the Seattle housing market from January, 2018 - December, 2022.</p>  
    
         <div class="linechart">
           <canvas id="dubLineChart" style="width: 300px; height: 150px;"></canvas>
           <div class="text-center mt-3">
            
              <button id="AvgVsMedPrice" class="btn btn-inverse">Average vs Median price</button>
              <button id="salesVsMedPrice" class="btn btn-inverse">Sales vs Median price</button>
              <button id="ratesVsMedPrice" class="btn btn-inverse">Int-Rates vs Median price</button>
              <button id="salesVsRates" class="btn btn-inverse">Sales vs Int-Rates</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="text-center">
  <div class='tableauPlaceholder' id='viz1691993257490' style='margin: 0 auto;'>
    <noscript>
      <a href='#'>
        <img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;Seattle_Housing_Price_Dashboard&#47;Dashboard1&#47;1_rss.png' style='border: none' />
      </a>
    </noscript>
    <object class='tableauViz' style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' />
      <param name='site_root' value='' />
      <param name='name' value='Seattle_Housing_Price_Dashboard&#47;Dashboard1' />
      <param name='tabs' value='no' />
      <param name='toolbar' value='no' />
      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;Seattle_Housing_Price_Dashboard&#47;Dashboard1&#47;1.png' />
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
      <param name='language' value='en-US' />
      <param name='tootip' value='yes' />
    </object>
  </div>
</div>
<hr>
<div class="text-center"></div>
  <div class='tableauPlaceholder' id='viz1692048268078' style='margin: 0 auto;'>
    <noscript><a href='#'>
      <img alt='Dashboard 2 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;Seattle_Housing_SQFT_Dashboard&#47;Dashboard2&#47;1_rss.png' style='border: none' /></a>
    </noscript><object class='tableauViz'  style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' /> 
      <param name='site_root' value='' />
      <param name='name' value='Seattle_Housing_SQFT_Dashboard&#47;Dashboard2' />
      <param name='tabs' value='no' /><param name='toolbar' value='yes' />
      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Se&#47;Seattle_Housing_SQFT_Dashboard&#47;Dashboard2&#47;1.png' /> 
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
      <param name='language' value='en-GB' /></object></div>                
</div>
<hr>
<div class="text-center">
    <div class='tableauPlaceholder' id='viz1692041972916' style='margin: 0 auto;'>
      <noscript><a href='#'>
        <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Zi&#47;ZipCodesbyAveragePricesqft&#47;ZipCodesbyAveragePricesqft&#47;1_rss.png' style='border: none' />
        </a></noscript><object class='tableauViz'  style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
          <param name='name' value='ZipCodesbyAveragePricesqft&#47;ZipCodesbyAveragePricesqft' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Zi&#47;ZipCodesbyAveragePricesqft&#47;ZipCodesbyAveragePricesqft&#47;1.png' /> 
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-GB' /></object></div>             
</div>
<hr>
<div class="text-center">
  <div class='tableauPlaceholder' id='viz1692049221823' style='margin: 0 auto;'>
    <noscript><a href='#'>
      <img alt='Data Analysis ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;KP&#47;KPX24GQFT&#47;1_rss.png' style='border: none' /></a></noscript>
      <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='path' value='shared&#47;KPX24GQFT' /> 
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;KP&#47;KPX24GQFT&#47;1.png' /> 
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en-GB' /></object>
      </div>                
</div>
<hr>
<footer class="container-fluid text-center footer-custom">
  <div class="row">
    <div class="col-xs-12">
      <p><h4>Contributions by:</h4></p>
      <div class="row">
        <div class="col-sm-4">
          <ul class="list-unstyled">
            <li><h4>Allan Ivey</h4><a href="#" target="_blank"><img src="../static/images/linkedin.png" alt="LinkedIn" width="30" height="30" class="logo-icon"></a> | <a href="#" target="_blank"><img src="../static/images/github.png" alt="GitHub" width="30" height="30" class="logo-icon"></a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="list-unstyled">
            <li><h4>Nathan Karr</h4><a href="#" target="_blank"><img src="../static/images/linkedin.png" alt="LinkedIn" width="30" height="30" class="logo-icon"></a> | <a href="#" target="_blank"><img src="../static/images/github.png" alt="GitHub" width="30" height="30" class="logo-icon"></a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="list-unstyled">
            <li><h4>Caroline Sudhakar</h4><a href="#" target="_blank"><img src="../static/images/linkedin.png" alt="LinkedIn" width="30" height="30" class="logo-icon"></a> | <a href="#" target="_blank"><img src="../static/images/github.png" alt="GitHub" width="30" height="30" class="logo-icon"></a></li>
          </ul>
        </div>
      </div>
      <div class="row" style="margin-left: 175px;">
        <div class="col-sm-6">
          <ul class="list-unstyled text-center">
            <li><h4>Ivy Jones</h4><a href="#" target="_blank"><img src="../static/images/linkedin.png" alt="LinkedIn" width="30" height="30" class="logo-icon"></a> | <a href="#" target="_blank"><img src="../static/images/github.png" alt="GitHub" width="30" height="30" class="logo-icon"></a></li>
          </ul>
        </div>
        <div class="row" style="margin-left: 550px;">
        <div class="col-sm-6">
          <ul class="list-unstyled text-center">
            <li><h4>Kristen Pollok</h4><a href="https://www.linkedin.com/in/kristen-pollok-14302a18b" target="_blank"><img src="../static/images/linkedin.png" alt="LinkedIn" width="30" height="30" class="logo-icon"></a> | <a href="https://github.com/kristen1286" target="_blank"><img src="../static/images/github.png" alt="GitHub" width="30" height="30" class="logo-icon"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


<script src="https://d3js.org/d3.v5.min.js"></script>
      <script type="text/javascript" src="/static/js/script.js"></script>
      
      
      
      <!-- start KRP Include the JavaScript file AND chart.js, double_line js file -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="../static/js/doubleLineScript.js"></script>

      <script type='text/javascript'>
        var divElement = document.getElementById('viz1691993257490');
        var vizElement = divElement.getElementsByTagName('object')[0];
        if (divElement.offsetWidth > 800) {
          vizElement.style.width='750px';
          vizElement.style.minHeight='587px';
          vizElement.style.maxHeight='887px';
          vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
        } else if (divElement.offsetWidth > 500) {
          vizElement.style.width='1120px';
          vizElement.style.minHeight='587px';
          vizElement.style.maxHeight='887px';
          vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
        } else {
          vizElement.style.width='100%';
          vizElement.style.height='777px';
        }
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>

      <script type='text/javascript'>                    
        var divElement = document.getElementById('viz1692048268078');                    
        var vizElement = divElement.getElementsByTagName('object')[0];                    
        if ( divElement.offsetWidth > 800 ) { vizElement.style.width='750px';vizElement.style.minHeight='587px';vizElement.style.maxHeight='887px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
        else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1120px';vizElement.style.minHeight='587px';vizElement.style.maxHeight='887px';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
        else { vizElement.style.width='100%';vizElement.style.height='827px';}                     
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>

        <script type='text/javascript'>
          var divElement = document.getElementById('viz1692041972916');
          var vizElement = divElement.getElementsByTagName('object')[0];   
              vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px'; 
          var scriptElement = document.createElement('script');
              scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
              vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>

        <script type='text/javascript'>                    
          var divElement = document.getElementById('viz1692049221823');                    
          var vizElement = divElement.getElementsByTagName('object')[0];                    
          vizElement.style.width='1016px';vizElement.style.height='991px';                    
          var scriptElement = document.createElement('script');                    
          scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
          vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>

</body>
</html>
